@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap");

:root {
  --color-snow: #fffafa;
  --color-one: #a4a4a4;
  --color-two: #1c1c1c;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8rem;
  color: var(--color-two);
  font-family: "Josefin Slab", serif;
  scroll-behavior: smooth;
  color: var(--color-snow);
  text-shadow: 2px 2px 4px var(--color-two);
}

.container {
  display: flex;
  height: 100vh;
}

.section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
  color: var(--color-snow);
  transition: flex 0.4s ease;
}

.section:hover {
  flex: 2;
  cursor: pointer;
}

.section .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  transition: background-color 0.8s ease;
}

.section:hover .overlay {
  background-color: rgba(0, 0, 0, 0.93);
}

.section .content {
  z-index: 2;
  color: var(--color-snow);
  cursor: pointer;
}

.section .content:hover {
  color: var(--color-one);
}

#left {
  background-image: url("/images/nathan-dumlao-6VhPY27jdps-unsplash.jpg");
}

#center-left {
  background-image: url("/images/alesia-kazantceva-tDrUL454jok-unsplash.jpg");
}

#center-right {
  background-image: url("/images/bangkit-prayogi-tHtRkl6XA4k-unsplash.jpg");
}

#right {
  background-image: url("/images/tomas-jasovsky-d5SZqLkpIrY-unsplash.jpg");
}

.navbar {
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  z-index: 3;

  background: linear-gradient(
    var(--color-two),
    var(--color-one) 50%,
    transparent
  );
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li a {
  transition: all 0.3 ease 0s;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: var(--color-snow);
  font-size: 1.3rem;
}

.nav-links li a:hover {
  color: var(--color-one);
}

.logo {
  cursor: pointer;
  color: var(--color-snow);
}

.navbar nav a {
  text-decoration: none;
}

.headline {
  top: 50%;
  left: 0%;
  position: relative;
  z-index: 2;
  color: var(--color-snow);
}

.headline h1 {
  padding: 0 70px;
  font-size: 4em;
  font-weight: 800;
  line-height: 1em;
}

.headline h2 {
  padding: 20px 70px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1em;
}

video {
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

.video-container {
  height: 600px;
}

.video-parallax {
  -webkit-transition-position: fixed;
  position: fixed;
}

.img-2,
.img-3,
.img-4 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
}

.img-2 {
  background-image: url("./images/nathan-dumlao-Y3AqmbmtLQI-unsplash.jpg");
  min-height: 600px;
}

.img-3 {
  background-image: url("./images/moritz-knoringer-5QR63diGK5o-unsplash.jpg");
  min-height: 600px;
}

.img-4 {
  background-image: url("./images/nathan-dumlao-pMW4jzELQCw-unsplash.jpg");
  min-height: 600px;
}

.se {
  text-align: center;
  padding: 60px 80px;
}

.sec_one {
  background-color: var(--color-one);
}

.sec_two,
.sec_three,
.sec_four {
  background-color: var(--color-two);
  color: var(--color-one);
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: var(--color-one);
  font-size: 27px;
  letter-spacing: 8px;
}

.ptext .border {
  /* background-color: var(--color-two); */
  color: var(--color-snow);
}

#blog-link {
  color: var(--color-snow);
  text-decoration: none;
}

#blog-link:hover {
  color: var(--color-one);
}

@media (max-width: 568px) {
  .img-2,
  .img-3,
  .img-4 {
    background-attachment: scroll;
  }

  .navbar {
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    z-index: -1;
  }

  nav {
    display: flex;
  }

  .nav-links {
    list-style: none;
    display: block;
  }

  .nav-links li a {
    padding: 0px;
    font-size: 1rem;
  }

  .headline h1 {
    padding: 0 30px;
    font-size: 3em;
  }

  .headline h2 {
    padding: 0px 30px;
    font-size: 2rem;
  }

  video {
    width: 100%;
    height: 110%;
  }
}
